@red-color: #d7555a;
@main-light: rgba(31, 79, 115, 0.7);
@green-color: #8cc34b;
@purple-color: #9370aa;


:root {
  --main-bg-color: #165380;
  --main-color: #1f4f73;
  --main-light: rgba(31, 79, 115, 0.7);
  --main-lighter: rgba(31, 79, 115, 0.5);
  --main-llighter: rgba(31, 79, 115, 0.3);
  --pink-color: #e38a8a;
  --yellow-color: #e6a530;
  --green-color: @green-color;
  --green-color-lighter: rgba(140, 195, 75, 0.7);
  --purple-color: @purple-color;
  --red-color: #d7555a;
  --container-bg-color: #e7ebf4;
  --white: #fff;
  --bg-light: #ebeef6;
  --bg-light-70: #ebeef6b3;
  --grey-color: #e8e8e8;
}

.main-color {
  color: var(--main-color);
}

.main-lighter {
  color: var(--main-lighter);
}

.main-light {
  color: var(--main-light);
}

.main-bg-color {
  background-color: var(--main-bg-color);
}

.color-yellow {
  color: var(--yellow-color);
}

.bg-yellow {
  background-color: var(--yellow-color);
}

.color-pink {
  color: var(--pink-color);
}

.bg-pink {
  background-color: var(--pink-color);
}

.color-purple {
  color: var(--purple-color);
}

.bg-purple {
  background-color: var(--purple-color);
}

.color-green {
  color: var(--green-color);
}

.bg-green {
  background-color: var(--green-color);
}

.color-red {
  color: var(--red-color);
}

.color-main {
  color: var(--main-color);
}

.bg-red {
  background-color: var(--red-color);
}

.color-white {
  color: var(--white);
}

.bg-light {
  background-color: var(--bg-light);
}

.bg-light-70 {
  background-color: var(--bg-light-70);
}

.bg-white {
  background-color: var(--white);
}
